{{!-- letter selector --}}
    <button class="ltr-btn" id="a-btn" data-value="a">A</button>
    <button class="ltr-btn" id="b-btn" data-value="b">B</button>
    <button class="ltr-btn" id="c-btn" data-value="c">C</button>
    <button class="ltr-btn" id="d-btn" data-value="d">D</button>
    <button class="ltr-btn" id="e-btn" data-value="e">E</button>
    <button class="ltr-btn" id="f-btn" data-value="f">F</button>
    <button class="ltr-btn" id="g-btn" data-value="g">G</button>
    <button class="ltr-btn" id="h-btn" data-value="h">H</button>
    <button class="ltr-btn" id="i-btn" data-value="i">I</button>
    <button class="ltr-btn" id="j-btn" data-value="j">J</button>
    <button class="ltr-btn" id="k-btn" data-value="k">K</button>
    <button class="ltr-btn" id="l-btn" data-value="l">L</button>
    <button class="ltr-btn" id="m-btn" data-value="m">M</button>
    <button class="ltr-btn" id="n-btn" data-value="n">N</button>
    <button class="ltr-btn" id="o-btn" data-value="o">O</button>
    <button class="ltr-btn" id="p-btn" data-value="p">P</button>
    <button class="ltr-btn" id="q-btn" data-value="q">Q</button>
    <button class="ltr-btn" id="r-btn" data-value="r">R</button>
    <button class="ltr-btn" id="s-btn" data-value="s">S</button>
    <button class="ltr-btn" id="t-btn" data-value="t">T</button>
    <button class="ltr-btn" id="u-btn" data-value="u">U</button>
    <button class="ltr-btn" id="v-btn" data-value="v">V</button>
    <button class="ltr-btn" id="w-btn" data-value="w">W</button>
    <button class="ltr-btn" id="x-btn" data-value="x">X</button>
    <button class="ltr-btn" id="y-btn" data-value="y">Y</button>
    <button class="ltr-btn" id="z-btn" data-value="z">Z</button>