{{!-- letter selector --}}
    <button data-value="a">A</button>
    <button data-value="b">B</button>
    <button data-value="c">C</button>
    <button data-value="d">D</button>
    <button data-value="e">E</button>
    <button data-value="f">F</button>
    <button data-value="g">G</button>
    <button data-value="h">H</button>
    <button data-value="i">I</button>
    <button data-value="j">J</button>
    <button data-value="k">K</button>
    <button data-value="l">L</button>
    <button data-value="m">M</button>
    <button data-value="n">N</button>
    <button data-value="o">O</button>
    <button data-value="p">P</button>
    <button data-value="q">Q</button>
    <button data-value="r">R</button>
    <button data-value="s">S</button>
    <button data-value="t">T</button>
    <button data-value="u">U</button>
    <button data-value="v">V</button>
    <button data-value="w">W</button>
    <button data-value="x">X</button>
    <button data-value="y">Y</button>
    <button data-value="z">Z</button>