<div class="btn-container">
  <button id="male-btn">MALE</button>
  <button id="both-btn">BOTH</button>
  <button id="female-btn">FEMALE</button>
</div>
<div class="gen-section">
    <button id="generate-btn">GENERATE NAME</button>
</div>
<div class="see-btn">
    <button id="see-all-btn">SEE ALL</button>
</div>