<div class="btn-container">
  <button id="male-btn"> MALE </button>
  <button id="both-btn"> BOTH </button>
  <button id="female-btn">GIRL</button>
  <div class="parent">
    <div class="middle">
      <div class="circle">
        PAWSIBLE NAMES
      </div>
    </div>
  </div>
</div>