<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Endless Pawsabilities</title>
    <link rel="stylesheet" href="../../public/stylesheet/styles.css" />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="">Endless Pawsabilities</a>
        </h1>
        <nav>
          {{#if loggedIn}}
          <a href="/login">LOGIN</a>
          
        </nav>
      </header>
      <main>
          {{{ body }}}
      </main>
      <footer>
          Impawsible decisions made easy!
      </footer>
    </div>
  </body>
</html>