<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Endless Pawsibilities</title>
  </head>
  <body>

    <h1 class="title">Endless Pawsibilities</h1>
    <img class="logo" src="/public/stylesheet/Dogcatlogo.jpeg" alt="">
    {{!-- login/signup  --}}
    {{> login-signup }}
{{!-- paw buttons container --}}
    <div class="container-btns">
        {{> main-btns }}
        <div class="results"></div>
    </div>

{{!-- letter selector --}}

<div class="letter-container">
  <h4 class="ltr-title">CHOOSE A LETTER</h4>
{{> letter-selector }}
</div>


    <div id="results">
      <div class="gen-results">
       
      </div>
    </div>
    <div class="parent">
    <div class="middle">
        <div class="circle">
          PAWSIBLE NAMES
        </div>
    </div>
</div>
  </body>

  <footer>Impawsible decisions made easy!</footer>
</html>